.tb_5t91486.module-icon span{color:rgba(201, 201, 201, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.tb_5t91486.module-icon .module-icon-item i{color:rgba(138, 138, 138, 1);}
.tb_5t91486.module-icon{margin-top:5px;}
.tb_guyz361.module-plain-text{margin-left:15%; margin-right:15%; margin-top:5%;}
